customtkinter==5.2.2
CTkMessagebox==2.7
SQLAlchemy==2.0.45
bcrypt==5.0.0
matplotlib==3.10.8
pandas==3.0.1
openpyxl==3.1.5
Pillow==12.1.1
fpdf2==2.8.7
python-barcode==0.16.1
python-dotenv==1.2.2
requests==2.32.3
psycopg2-binary==2.9.12
pyinstaller==6.20.0
pyserial==3.5
